body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #55bbc0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #c45a5a;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #dad1dd;
}

.project {
    margin-bottom: 20px;
}